<div class="top-box"></div>
<div class="reserve">
	<%= form_for(@history) do |f| %>
		<table class="table" style="text-align: right">
	  		<thead>
  		  		<caption class="center" style="font-size: 18px; margin-top: 50px; background-color: #f1f1f17a">商品内容</caption>
			</thead>
	  		<tbody>
	  			<% sum = 0 %>
	  			<% @cart_item_prices.each do |price| %>
			  		<%= f.fields_for :item_histories do |ih| %>
			  		<% item_price = price.item_price.price %>
				  		<%= ih.hidden_field :item_price_id, :value => price.item_price.id %>
				  		<%= ih.hidden_field :count, :value => price.count %>
				  		<%= ih.hidden_field :price, :value => item_price.to_i %>
				  		<%= ih.hidden_field :message, :value => price.message %>
				  	<% end %>

		      		<tr>
		        		<td>
		        			<% price.item_price.item.item_images.each_with_index do |image, i| %>
		        				<% if i == 0 %>
		        					<%= link_to item_path(image.item) do %>
		        						<div class="h-image">
			        						<%= attachment_image_tag image, :image, class: "h-image" %>
			        					</div>
		        					<% end %>
		        				<% end %>
		        			<% end %>
		        		</td>
		        		<td>
		        			<%= link_to item_path(price.item_price.item.id) do %>
		        				<%= price.item_price.item.item_name %>
		        			<% end %>
		        			<br>
	        				サイズ: <%= price.item_price.size.size_name %><br>
	        				金額：<%= number_with_delimiter(price.item_price.price) %>円（税抜)<br>
	        				<% if price.message.present? %>
	        					プレート：<%= price.message %>
	        				<% end %>
		       			</td>
		        		<td>数量：<%= price.count %>点<br>
		        			<% sub_total = price.item_price.price * price.count %>
		        			<% sum = sum + sub_total %>
		        			<%= number_with_delimiter(sub_total) %>円（税抜)
		        		</td>
		      		</tr>
				<% end %>
			    <tr>
			     	<td colspan="2">小計</td>
			        <td><%= number_with_delimiter(sum.round) %>円(税抜)</td>
			    </tr>
			    <tr>
			        <td colspan="2">消費税</td>
			        <td>
			        	<% tax = sum * 0.08 %>
			        	<%= number_with_delimiter(tax.round) %>円(税込)</td>
			    </tr>
			    <tr>
			        <td colspan="2">合計</td>
			        <td><% total_price = sum + tax %>
			        	<%= number_with_delimiter(total_price.round) %>円(税込)</td>
			    </tr>
			    <tr>
			     	<td colspan="3" class="center" style="font-size: 18px; margin-top: 50px; background-color: #f1f1f17a">
			     		ご予約内容
			     	</td>
			    </tr>
				<tr>
			        <td colspan="2">ご予約日</td>
			        <td><%= @date %></td>
			    </tr>
			    <tr>
			        <td colspan="2">受け取り時間</td>
			        <td><%= @time %></td>
			    </tr>
			    <tr>
			        <td colspan="2">ろうそく</td>
			        <td><%= @candle %>本
			        </td>
			    </tr>
			    <% if @remark.present? %>
				    <tr>
				        <td colspan="2">備考</td>
				        <td><%= @remark %></td>
				    </tr>
				<% end %>
			    <tr>
			        <td colspan="2">お名前</td>
			        <td><%= @name %>
			        </td>
			    </tr>
			    <tr>
			        <td colspan="2">ご連絡先</td>
			        <td><%= @user.tel %>
			        </td>
			    </tr>
	      	</tbody>
	  	</table>
	  	<%= f.hidden_field :total_price, :value => total_price.round %>
  		<%= f.hidden_field :reserve_date, :value => @date %>
  		<%= f.hidden_field :candle, :value => @candle %>
  		<%= f.hidden_field :remark, :value => @remark %>
  		<%= f.hidden_field :time, :value => @time %>
		<button type="submit" class="create pull-right" data-toggle="modal" data-target="#myModal">
			予約する
	  	</button>
	<% end %>
	<%= link_to "変更する", reserve_path(@cart), class: "button pull-right" %>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      	<div class="modal-content">
        	<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
	        <div class="modal-body" style="text-align: center">
	        	<p style="font-size: 50px; color: pink">Thank You!!</p>
				ご予約承りました。<br>
				みなさまのご来店を
				心よりお待ちしております。<br>
				何か変更等ございましたら<br>
				店舗の方にご連絡をお願いいたします。<br>
			</div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        </div>
    </div>
</div>