<div class="top-box"></div>
<div class="reserve clearfix">
    <div class="head-line">Reserve</div>
    <% if flash[:reserve] %>
        <div class="flash"><%= flash[:reserve] %></div>
    <% end %>
    <table class="table item-index" style="padding: 50px">
        <% sum = 0 %>
        <thead>
            <tr>
                <th> </th>
                <th>item</th>
                <th>price</th>
                <th>count</th>
            </tr>
        </thead>
        <tbody>
            <% @cart_item_prices.each do |cip| %>
                <tr>
                    <td>
                        <% cip.item_price.item.item_images.each_with_index do |item, i| %>
                            <% if i == 0 %>
                                <%= link_to item_path(cip.item_price.item) do %>
                                    <div class="h-image">
                                        <%= attachment_image_tag item, :image %>
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        商品名：<%= link_to item_path(cip.item_price.item) do %>
                            <%= cip.item_price.item.item_name %>
                        <% end %>
                        <br>サイズ：<%= cip.item_price.size.size_name %>
                        <br>プレート：<%= cip.message %>
                    </td>
                    <td>
                        <p><%= number_with_delimiter(cip.item_price.price) %><span style="font-size: 10px">円（税抜)</span></p>
                        <br>
                        ×<%= cip.count %>
                        <% sub_total = cip.item_price.price * cip.count %>
                        <% sum = sum + sub_total %>
                        <p><span style="font-size: 20px"><%= number_with_delimiter(sub_total) %></span>円（税抜)</p>
                    </td>
                    <td>
                        <%= cip.count %>
                    </td>
                </tr>
            <% end %>
            <tr>
                <td></td>
                <td>小計</td>
                <td>
                    <p style="font-size: 25px"><%= number_with_delimiter(sum) %><span style="font-size: 12px">円(税抜)</span></p>
                </td>
                <td>
                    <% sumc = 0 %>
                    <% @cart_item_prices.each do |cip| %>
                        <% sub_totalc = cip.count %>
                        <% sumc = sumc + sub_totalc %>
                    <% end %>
                    <p style="font-size: 25px"><%= sumc %><span style="font-size: 12px">点</span></p></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>消費税</td>
                <td>
                    <% tax = sum * 0.08 %>
                    <%= number_with_delimiter(tax.round) %>円</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>合計</td>
                <td>
                    <% total_price = (sum + tax) %>
                    <p style="font-size: 25px">
                        <%= number_with_delimiter(total_price.round) %>
                        <span style="font-size: 12px">円(税込)</span>
                    </p>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="item-index-mobile">
        <table class="table" style="padding: 50px">
            <% sum = 0 %>
            <thead>
                <tr>
                    <th colspan="2">item</th>
                </tr>
            </thead>
            <tbody>
                <% @cart_item_prices.each do |cip| %>
                    <tr>
                        <td>
                            <% cip.item_price.item.item_images.each_with_index do |item, i| %>
                                <% if i == 0 %>
                                    <%= link_to item_path(cip.item_price.item) do %>
                                        <div class="h-image">
                                            <%= attachment_image_tag item, :image %>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                        <td>
                            商品名：<%= link_to item_path(cip.item_price.item) do %>
                                <%= cip.item_price.item.item_name %>
                            <% end %>
                            <br>サイズ：<%= cip.item_price.size.size_name %>
                            <br>プレート：<%= cip.message %>
                            <p><%= number_with_delimiter(cip.item_price.price) %><span style="font-size: 10px">円（税抜)</span></p>
                            <br>
                            <%= cip.count %>点
                            <% sub_total = cip.item_price.price * cip.count %>
                            <% sum = sum + sub_total %>
                            <p><span style="font-size: 20px"><%= number_with_delimiter(sub_total) %></span>円（税抜)</p>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td>小計</td>
                    <td>
                        <p style="font-size: 25px"><%= number_with_delimiter(sum) %><span style="font-size: 12px">円(税抜)</span></p>
                        <% sumc = 0 %>
                        <% @cart_item_prices.each do |cip| %>
                            <% sub_totalc = cip.count %>
                            <% sumc = sumc + sub_totalc %>
                        <% end %>
                        <p style="font-size: 25px"><%= sumc %><span style="font-size: 12px">点</span></p></td>
                    </td>
                </tr>
                <tr>
                    <td>消費税</td>
                    <td>
                        <% tax = sum * 0.08 %>
                        <%= number_with_delimiter(tax.round) %>円
                    </td>
                </tr>
                <tr>
                    <td>合計</td>
                    <td>
                        <% total_price = (sum + tax) %>
                        <p style="font-size: 25px">
                            <%= number_with_delimiter(total_price.round) %>
                            <span style="font-size: 12px">円(税込)</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <%= form_for(@history, url: confirm_path(@cart)) do |f| %>
            <div class="form-group">
                <label id="reserve-date">ご予約日：</label>
                    <% now = Time.current %>
                    <%= f.date_field :reserve_date, class: "form-control", min: "#{now.since(3.days)}" %>
            </div>
            <div class="form-group">
                <label for="time">受け取り時間：</label>
                    <%= f.select :time,History.times.keys, {}, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="candle">ろうそく：</label>
                <%= f.number_field :candle, class: "form-control", min: 0, max: 20, value: 0 %>
            </div>
          
            <div class="form-group">
                <label for="comment">備考-何かご希望等ございましたらこちらにご記入をお願いいたします-</label>
                <%= f.text_area :remark, class: "form-control" %>
            </div>
            <%= f.submit "内容を確認する", class: "create pull-right" %>
            <%= link_to "カートに戻る", cart_path(id: current_user), class: "button pull-right" %>
        <% end %>
    </div>
</div>
