<div class="container" style="background-color: #ffffffa6; padding-top: 20px; border-radius: 30px">
	<div class="col-xs-12" style="margin-bottom: 20px;">
		<div class="col-xs-8">
			<div class="col-xs-4" style="height: 300px; overflow: auto">
				<% @item.item_images.each do |ii| %>
					<div class="item-images">
						<%= attachment_image_tag ii, :image %>
					</div>
				<% end %>
			</div>
			<div class="col-xs-8" style="height: 300px; overflow: auto">
				<table class="table">
					<thead>
						<tr>
							<th>name</th>
							<td><%= @item.item_name %></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>introducution</th>
							<td><%= @item.introduction %></td>
						</tr>
						<tr>
							<th>allergy</th>
							<td>
								<% @item.allergies.each do |allergy| %>
									<%= allergy.material.material_name %>/
								<% end %>
							</td>
						</tr>
						<tr>
							<th>tastes</th>
							<td>
								<% @item.item_tastes.each do |taste| %>
									<%= taste.taste.taste_name %>/
								<% end %>
							</td>
						</tr>
						<tr>
							<th>status</th>
							<td>
                                <%= form_for(@item) do |f| %>
				                    <%= f.select :status,Item.statuses.keys, {}, {class: "form-control"} %>
				                    <%= f.submit "change", class: "button btn-xs pull-right" %>
				                <% end %>
					        </td>
						</tr>
					</tbody>
				</table>
				<%= link_to "back to index", items_path, class: "button pull-right"  %>
			</div>
		</div>
		<div class="col-xs-4">
			<%= render 'shared/item_edit', item: @item %>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-4" style="height: 400px; overflow: auto">
			<%= render 'shared/item_allergy', allergy: @allergy, allergies: @allergies, item: @item %>
		</div>
		<div class="col-xs-4" style="height: 400px; overflow: auto">
			<%= render 'shared/item_taste', item_taste: @item_taste, item_tastes: @item_tastes, item: @item %>
		</div>
		<div class="col-xs-4" style="height: 400px; overflow: auto">
			<%= render 'shared/item_price', item_price: @item_price, item_prices: @item_prices, item: @item %>
		</div>
	</div>
</div>